@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


  .calc__screen {
    background-image: repeating-linear-gradient(
      90deg,
      theme("colors.transparent"),
      theme("colors.transparent") 15px,
      #00000009 15px,
      #00000009 16px
    );
    box-shadow: inset 0 1rem 1rem 0.5rem #00000035,
      0 0 0.05rem 0.2rem rgba(255, 255, 255, 0.35);
  }

  .dark .calc__screen {
    background-color: theme("colors.sage.400");
    box-shadow: inset 0 1rem 1rem 0.5rem #00000035,
      0 0 0.05rem 0.2rem rgba(255, 255, 255, 0.15);
  }

  .calc__screen::after {
    background-image: linear-gradient(
      to right,
      rgba(8, 29, 94, 0.1) 45%,
      transparent
    );
    box-shadow: inset 0 0 0.5rem 0.5rem rgba(255, 255, 255, 0.45),
      0 0.25rem 2rem 1rem rgba(255, 255, 255, 0.45),
      inset 0 -0.25rem 0.5rem -0.2rem rgba(8, 29, 94, 0.2),
      0 0 0.5rem 0.1rem rgba(8, 29, 94, 0.2);
  }

  .dark .calc__screen::after {
    background-image: linear-gradient(
      to right,
      rgba(8, 29, 94, 0.1) 45%,
      transparent
    );
    box-shadow: inset 0 0.5rem 0.5rem -0.5rem rgba(255, 255, 255, 0.05),
      0 -0.5rem 0.5rem -0.5rem rgba(255, 255, 255, 0.25),
      inset 0 -0.25rem 0.5rem -0.2rem #141c2a, 0 0 0.5rem 0.25rem #141c2a;
  }

  .calc__btns {
    grid-template-areas: "btn-c btn-add btn-subtract btn-backspace" "btn-1 btn-2 btn-3 btn-multiply" "btn-4 btn-5 btn-6 btn-divide" "btn-7 btn-8 btn-9 btn-exponentiate" "btn-parenthesesOpen btn-0 btn-negative btn-equals";
  }

  .btn {
    background-color: #f2f3f7;
    color: #212c3f;
    border-radius: theme("borderRadius.3xl");
    padding: min(5vw, theme("spacing.6"));
    box-shadow: 0 -0.35rem 0.5rem -0.1rem rgba(255, 255, 255, 1),
      inset 0 0.5rem 0.75rem -0.5rem rgba(255, 255, 255, 1),
      inset 0 -0.5rem 0.75rem -0.5rem rgba(8, 29, 94, 0.35),
      0 0.25rem 0.75rem -0.2rem rgba(8, 29, 94, 0.35);
    font-weight: theme("fontWeight.bold");
    font-size: min(5vw, 100%);
    transition: theme("transitionProperty.colors")
        theme("transitionDuration.100") theme("transitionTimingFunction.in-out"),
      theme("transitionProperty.shadow") theme("transitionDuration.100")
        theme("transitionTimingFunction.in-out");
  }

  .dark .btn {
    background: #212c3f;
    box-shadow: 0 -0.35rem 0.5rem -0.1rem rgba(255, 255, 255, 0.035),
      inset 0 0.5rem 0.75rem -0.5rem rgba(255, 255, 255, 0.15),
      inset 0 -0.85rem 0.75rem -0.5rem #141c2a, 0 0.5rem 0.85rem -0.2rem #141c2a;
  }

  .btn:active {
    background-color: #eceef3;
    box-shadow: 0 -0.35rem 0.5rem -0.1rem rgba(255, 255, 255, 1),
      inset 0 0.5rem 0.5rem -0.5rem rgba(255, 255, 255, 1),
      inset 0 0.5rem 0.75rem -0.5rem rgba(8, 29, 94, 0.45),
      0 0.25rem 0.75rem -0.2rem rgba(8, 29, 94, 0.15);
  }

  .btn:active span {
    display: block;
    transform: translateY(10%);
  }

  .dark .btn:active {
    background: #1e2839;
    box-shadow: 0 -0.35rem 0.5rem -0.1rem rgba(255, 255, 255, 0.035),
      inset 0 -0.5rem 0.5rem -0.75rem rgba(255, 255, 255, 0.15),
      inset 0 0.5rem 0.75rem -0.25rem #141c2a, 0 0.25rem 0.75rem -0.2rem #141c2a;
  }

  .dark .btn--number {
    color: theme("colors.gray.300");
  }

  .dark .btn--number:active {
    color: theme("colors.gray.400");
  }

  .btn--operator {
    background: #ebedf5;
    color: theme("textColor.amber.600");
  }

  .btn--operator:active {
    background: #ebedf5;
    color: theme("textColor.amber.700");
  }

  .dark .btn--operator {
    background: #273349;
  }

  .dark .btn--operator:active {
    background: #242e42;
  }

  ::-webkit-scrollbar {
    width: 0.25rem;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 10rem;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
}
